body {
    padding: 0;
    margin: 0;
}
body::-webkit-scrollbar{
    display: none;
}
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
  }
#krxx {
    font-size: 15px;
    font-family: kr; 
    margin-left: 5%;
}
#kr {
    font-size: 35px;
    font-family: kr; 
    margin-left: 5%;
}
#gr {
    font-size: 35px;
    font-family: gr; 
    
}

/* fonts */
@font-face {font-family: kr;
    src: url(Karrik-Regular.ttf);
}
@font-face {font-family: gr;
    src: url(GazetaRegular.otf);
}
